---
title: Safe Blog
body_class: index
---

%main#content.content
  %header.main-header
    .vertical
      .main-header-content.inner
        %h1.page-title 
          Safe Blog
        %h2.page-description Everything you'll write will stay but nobody will see it
  #blog-page-wrapper
